@font-face {
 font-family: digital;
 src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"),
} 

@font-face {
font-family: "Sucrose Bold Two";
 src: url("//db.onlinewebfonts.com/t/467526db1f6b8c1f5f3b31f34bb1b8a7.ttf") format("truetype")
}



body {
  background-color: #546E7A;
  font-family: Roboto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#main {
  
  border: solid black 8px;
  border-radius: 3px;
 
  margin: auto;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
  max-width: 621px;
  user-select: none;
  
}


#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAFA;
  box-sizing: border-box;
  border: solid black 8px;
  border-radius: 5px;
  font-family: digital;
  font-weight: 600;
  margin: 3px;
  min-width: 600px;
  min-height: 130px;
  text-align: right;
}

#input-alt { 
 //background: green;
  font-size: 2.2em;
  margin-right: 10px;
  margin-left: 10px;
  height: 37px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}

#input-main {
 //background: red;
  font-size: 5.77em;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  
  overflow: hidden;
}

#buttons-container {
  display: flex;
  justify-content: center;
  max-width: 620px;
  width: 100%;
  max-height: 490px;
  height: 100%;
  text-align: center;
  font-size: 60px;
  
}

.numbers-container {
  width: 369px;
  height: 490px;
}

.operators-container {
  width: 246px;
  height: 490px;
}

.row {
  display: flex;
  width: 369px;
  height: 123px;
  
}

.row-small {
  display:flex;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BBDEFB;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Sucrose Bold Two";
  width: 120px;
  height: 120px;
  margin: 3px;
  box-sizing: border-box;
  border: black solid 5px;
  &:hover {
   transform: scale(1.1, 1.1)
  }
}

.panel-op {
  @extend .panel;
  background-color: #FFCDD2; 
}

.panel-big-horizon {
  @extend .panel;
  width: 246px;
  height: 120px;
}

.panel-big-vert {
  @extend .panel;
  background-color: #FFCDD2;
  width: 120px;
  height: 243px;
  margin: 3px;
 
}

@media only screen and (max-width: 666px) {
  #display {
    min-width: 400px;
    min-height: 90px;
  }
  
  .row {
    width: 279px;
    height: 93px;
  }
  .panel {
    width: 90px;
    height: 90px;
  }

  .panel-big-horizon {
    width: 186px;
  }

  .panel-big-vert {
    height: 183px;
  }
}

@media only screen and (max-width: 525px) {
  #main {
    border: none;
    box-sizing: border-box;
    padding-bottom: 0px; 
    
  }

  #display {
    border: solid black 5px;
    min-width: 320px;
    
    
  }

  #input-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    font-size: 5.5em;
    height: 80px;
  }
  
  .row {
    width: 219px;
    height: 73px;
  }
  .panel {
    
    width: 70px;
    height: 70px;
    
  }

  .panel-big-horizon {
    width: 146px;
  }

  .panel-big-vert {
    height: 143px;
  }
}

